html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: flex-start;
    background-color: #fdfdfd;

    font-family: Arial, Helvetica, sans-serif;

    position: relative;
}

#navbar {
    width: 5.62%;
    height: 100vh;
    
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.navbar-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#navbar #line-break {
    color: #e5e7eb;
    height: 5px;
    width: 90px;
}

#navbar img, svg {
    width: 55px;
    margin: 40px;
}

#main-page {
    margin: 0px 230px;
    width: 94.38%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#first {
    margin-top: 50px;
}

h1 {
    font-size: 120px;
    font-weight: 900;
    color: #3877ea;
    margin: 0px;
}

p {
    font-size: 25px;
}

#motto {
    font-weight: 900;
}

#search-bar {
    position: relative;
}

#search-bar svg {
    position: absolute;
    top: 20px;
    left: 20px;

    margin: 0px;
    width: 40px;

    color: #9face4;
}

input[type="search"] {
    width: 100%;
    height: 80px;

    font-size: 25px;
    border: solid 4px #9face4;
    border-radius: 7px;
}

input[type="search"]::placeholder {
    color: #9face4;
}

select {
    width: 400px;
    height: 85px;
    border: solid 2px #989898;
    border-radius: 11px;
    font-size: 30px;
    color: #989898;
    padding-left: 30px;
}

#select-course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#select-course .box {
    background-color: #fafafa;

    width: 594px;
    height: 290px;
    padding: 50px 48px;
    margin: 50px 0px;

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    box-shadow: 0 5px 5px #dedede;
}

.box .top-div-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.top-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
}

h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
}

.rating {
    font-size: 50px;
    color: #b08bdf;
}

.review-text {
    margin: 0px;
    color: #989898;
}

.offering-terms {
    display: flex;
}

#ratings {
    align-self: flex-end;
}

.offering-terms .container {
    line-height: 50px;
    width: 100px;
    height: 50px;
    margin-right: 15px;

    text-align: center;
    background-color: #d2eaf5;
    border-radius: 20px;
}

.offering-terms span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}